#vitae {
       margin-left: 50%;
        margin-bottom: 5px;
    }
    
  h2, form{
      margin-left: 40%;
  }
    
    .links{
        margin-left: 35%;
        margin-right: 103px;
        display: inline-block;
    }
    
    html, body {
        min-height: 100%;
    }
    
    body {
        padding: 0;
        margin: 0;
    }
            
    footer {
        position: absolute;
        bottom: 0;
        color: black;
        width: 100%;
        height: 100px;    
        text-align: center;
        line-height: 100px;
    }
    
    #girassol {
        margin-left: 45%;
        margin-top: 70px;
    }
    
